<%- include('../partials/Header') %>

<body class="text-center">
    
    <div class="container mt-4 w-50 p-5 rounded-3 login">
      <% if(!user){ %>
    <main class="form-signin">
      <form method="POST" action="/super/signup">
        <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal"> Sign up</h1>
    
        <div class="form-floating">
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
            <label for="name">Name</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
          <label for="email">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input type="tel" class="form-control" id="number" placeholder="Name" name="ph">
            <label for="number">Mobile Number</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-success">Next</button>
      </form>
    </main>
    <%}%>
   <% if(user) {%>
    <main class="form-signin">
      <form method="POST" action="/super/addorg">
        <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Organization Details</h1>
    
        <div class="form-floating">
            <input type="text" class="form-control" id="name" placeholder="Name" name="name">
            <label for="name">Name</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="desc" placeholder="name@example.com" name="desc">
          <label for="desc">Description</label>
        </div>
        
        <button type="submit" class="w-100 btn btn-lg btn-success">Next</button>
      </form>
    </main>
    <%}%>
</div>
</body>
<script src="../js/bootstrap.min.js"></script>
</html>